html, body {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: fadeModalOverlay;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.42, 0, 0.07, 0.99);
  animation-duration: 0.4s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes fadeModalOverlay {
  0% {
    background-color: rgba(0, 0, 0, 0)
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2)
  }
}

.panel {
  padding: 0;
  margin: 12px auto 0;
  max-width: 300px;
  background-color: #fff;
  overflow: hidden;
  animation-name: slidein, liftup;
  animation-delay: 0s, 0.3s;
  animation-duration: 0.5s, 0.2s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.07, 0.99);
}

.dialog p {
  margin: 12px
}

@keyframes slidein {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }

  80% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes liftup {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
}